.container { position:relative; padding: 0 0 0 55px; }
#sidebar {
    position:absolute;
    top:0; bottom:0; right:0;
    width:20%;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#foot_table {
    width: 100%;
}
