body {

}

.container {
    position:relative;
    padding: 0 0 0 55px;
}

#menu {
  background: #f1f1f1;
}

#xkcd {
    width: 80%;
}

#sidebar {
    position:absolute;
    top:0; bottom:0; right:0;
    width:40%;
}

#about {
    width: 60%;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#links {
    width: 60%;
}

#foot_table {
    width: 100%;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
  background: #d7d7d7;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d7d7d7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}
